$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-gary-dark: #777;
$color-gary-dark-2: #999;
$color-grey-lighten-1: #f1f1f1;


$color-black: #000;
$color-white: #fff;
$color-white-1: #f7f7f7;
$color-white-darker: #eee;



//MARGIN
$margin-bottom-small: 1rem;

//PARAGRAPH
$paragraph-padding-top-bottom: 10px;

//FONT
$default-font-size: 1.6rem;
$font-size-small: 1.2rem;


//grid
$grid-width: 105rem;
$color-row: #eee;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-1: 0;
