.feature-box {
    width: 23rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    min-height: 30rem;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.726);
    text-align: center;
    box-shadow: 0.6rem 0.3rem 1rem rgba($color-black, 0.2);
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;

    &__text-box {
    }

    &__icon {
        display: inline-block;
        font-size: 4rem;
        background-image: linear-gradient(
            to right,
            rgba($color-primary-light, 0.9),
            rgba($color-primary-dark, 0.9)
        );
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: translateY(0.2rem) scale(1.1);
        -webkit-transform: translateY(0.2rem) scale(1.1);
        -moz-transform: translateY(0.2rem) scale(1.1);
        -ms-transform: translateY(0.2rem) scale(1.1);
        -o-transform: translateY(0.2rem) scale(1.1);
        box-shadow: 1.2rem 1.5rem 1rem rgba($color-black, 0.2);
    }
}
