.text-center {
    text-align: center;
}

.u-margin-bottom-medium {
    margin-bottom: 5rem;
}

.u-margin-bottom-big {
    margin-bottom: 10rem;
}

.u-flex-grow-size-1 {
    flex-grow: 1;
}

.u-margin-bottom-small {
    margin-bottom: $margin-bottom-small;
}

.u-margin-top-bottom-small {
    margin: 1rem 0;
}

.u-margin-top-bottom-medium {
    margin: 6rem 0;
}

.u-display-block {
    display: block;
}

.u-margin-top-medium {
    margin-top: 6rem;
}

.u-margin-top-small {
    margin-top: 3rem;
}

.u-margin-left-medium {
    margin-left: 10rem;
}

.u-padding-top-medium {
    padding-top: 5rem;
}
